{% extends 'base.html' %}
{% load static %}
{% block lists %}
  Информация о {{ company.company_name }}
{% endblock %}
{% block content %}
    <h1 class="display-4 fw-bold text-body-emphasis">{{ company.company_name }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ company.company_information }}</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        {% if company.image %}
          <img src="{{ company.image.url }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy" />
        {% else %}

        {% endif %}
      </div>
    </div>
  <h2 class="pb-2 border-bottom">Информация о продавце</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">О компании</h2>
      <p class="text-body-secondary">Номер телефона: {{ company.phone_number }}</p>
      <p class="text-body-secondary">Имя владельца: {{ company_owner.first_name }}</p>
      <p class="text-body-secondary">Фамилия владельца: {{ company_owner.last_name }}</p>
      <p class="text-body-secondary">Отчество владельца: {{ company_owner.father_name }}</p>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Количество товаров</h4>
          <p class="text-body-secondary">{{ smartphones.count }}</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Рейтинг</h4>
          <p class="text-body-secondary">{{ company.grade }}</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Количество лайков</h4>
          <p class="text-body-secondary">10</p>
        </div>
      </div>
    </div>
  </div>

    {% for comment in comments %}
      {{ comment.author }}
      {{ comment.content }}
      {{ comment.created_at }}

      {% if user == comment.author %}
      <form action="{% url 'comments:delete_comment_company' company.title_hash %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value="{{ comment.pk }}">
        <button type="submit" class="btn btn-secondary">Удалить</button>
      </form>
      <a href="{% url 'comments:edit_comment' comment.pk %}">Edit comment</a>
      {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
  <div class="input-group" id="inputCommentDiv">
    <span class="input-group-text">Написать отзыв</span>
    <textarea class="form-control" aria-label="With textarea" id="commentData"></textarea>
  </div>
  <div>
    <button id="addCommentBtn" data-company-title="{{ company.title_hash }}" type="button" class="btn btn-secondary mt-3">Добавить</button>
  </div>
{% endif %}

    <h2 class="pb-2 border-bottom">Все товары от {{ company.company_name }}</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch">
      {% if smartphones %}
      {% for smartphone in smartphones %}
        <div class="col">
          <a href="{% url 'market:detail_phone' smartphone.pk %}">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-3 shadow-lg" style="background-image: url('{{ smartphone.main_image.url }}');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ smartphone.brand }}</h3>
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ smartphone.model }}</h3>
              </div>
            </div>
          </a>

          <div class="btn-group" style="height: 30px;" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-link like-btn" data-smartphone-id="{{ smartphone.pk }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
              </svg>
            </button>
            <button type="button" class="btn btn-link unlike-btn" data-smartphone-id="{{ smartphone.pk }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z" />
              </svg>
            </button>
          </div>
          <p>
            Likes: <span id="likes-count-{{ smartphone.id }}">{{ smartphone.likes_count }}</span>
          </p>
        </div>
      {% endfor %}

      {% else %}
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Продавец еще не разместил товар</p>
      </div>
      {% endif %}

  </div>

  <script src="{% static 'js/detailCompany.js' %}"></script>

{% endblock %}
