.form-signin {
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.form-control, .btn {
    border: 1px solid white !important;
    background-color: #343a40;
    color: white;
} 

