{% extends 'base.html' %}
{% load static %}
{% block lists %}
  Главная страница
{% endblock %}
{% block content %}
  <main>
    <h2>Добавить смартфон</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <h3>Добавить изображения смартфона</h3>
      <input required name="main_image" type="file">
      <input required name="images" type="file" multiple>
      <button type="submit">Сохранить</button>
    </form>
  </main>

  <link rel="stylesheet" href="{% static 'css/create_phone.css' %}" />
{% endblock %}
