{% extends 'base.html' %}
{% load static %}
{% block lists %} Детальная страница {% endblock %}
{% block content %}
    
    <main>
        <section>
            <h2>Section 1</h2>
            <p>This is the content of section 1.</p>
        </section>
        {{ smartphone }}

        <section>
            <h2>Section 2</h2>
            <p>This is the content of section 2.</p>
        </section>
    </main>

    <link rel="stylesheet" type="text/css" href="{% static 'css/detail_phone.css' %}">
    {% endblock %}

