{% extends 'base.html' %}
{% load static %}
{% block lists %}
  Главная страница
{% endblock %}
{% block content %}
  <h2 class="mt-4">Смартфоны на проверке - {{ pending_smartphones.count }}</h2>
  <div class="container">
    <table class="table table-dark border border-dark-subtle mt-3">
      <div class="table_alert_block">
        <div class="alert alert-dark" id="liveAlertPlaceholder" style="display: none;" role="alert">Изменения успешно сохранены!</div>
        <div class="alert alert-danger" id="liveErrorAlertPlaceholder" style="display: none;" role="alert">Изменения не сохранены!</div>
      </div>
      <thead>
        <tr>
          <th scope="col">Пользователь</th>
          <th scope="col">Компания</th>
          <th scope="col">Рейтинг</th>
          <th scope="col">Товар</th>
          <th scope="col">Статус</th>
        </tr>
      </thead>
      {% for smartphone in pending_smartphones %}
        <tbody>
          <tr>
            <th scope="row">{{ smartphone.seller }}</th>
            <td>{{ smartphone.seller.company_name }}</td>
            <td>5</td>
            <td>
              <a href="{% url 'market:detail_phone' smartphone.pk %}">{{ smartphone.model }}</a>
            </td>
            <td>
              <select class="form-select form-select-sm text-light bg-dark border border-secondary-subtle" onChange="changeSmartphoneStatus({{ smartphone.pk }})" id="status_selectId_{{ smartphone.pk }}">
                <option value="pending">На проверке</option>
                <option value="approved">Одобрено</option>
                <option value="rejected">Отклонено</option>
              </select>
            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </div>
  <script src="{% static 'js/moderator.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/moderator_list.css' %}" />
{% endblock %}
